/* General */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #00155c;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.6;
}

/* Header */
header {
    background-color: #292b2c;
    color: white;
    text-align: center;
    padding: 30px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 3rem;
    letter-spacing: 2px;
}

/* Navbar */
nav {
    background-color: #222;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffe26f;
}

/* Main Section */
main {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
}

main h2 {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Section Styling */
section {
    margin: 50px 0;
    text-align: center;
}

section h2 {
    font-size: 2rem;
    color: #00155c;
    margin-bottom: 20px;
}

section p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.8;
    margin: 20px auto;
    max-width: 800px;
}

section img {
    width: 60%;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Video Section */
video {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 8px;
}

/* Audio Section */
audio {
    width: 80%;
    max-width: 800px;
    margin: 10px auto;
}

/* Redes Sociales */
.redes {
    text-align: center;
    margin-top: 40px;
}

.redes a {
    font-size: 2rem;
    color: #fff;
    margin: 10px;
    transition: color 0.3s;
}

.redes a:hover {
    color: #f1c40f;
}

/* Footer */
footer {
    background-color: #292b2c;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    margin-top: 50px;
}

footer p {
    font-size: 1rem;
}
